.main {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.inputs {
  width: 300px;
  padding: 13px;
}

a{
  width: 110px;
  padding: 13px;
  text-decoration: none;
  border: 1px solid black;
  margin: 20px;
  background-color: rgb(177, 124, 88);
  color: white;
}


/* *{
  color: darkgreen;
}

.results {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
padding: 20px;
width: 70%;
margin: auto;
}

.allResults {
display: flex;
align-items: center;
justify-content: center;
background-color: #ace0e0;
width: 300px;
} */



