.main {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.inputs {
  width: 300px;
  padding: 13px;
}

a{
  width: 110px;
  padding: 13px;
  text-decoration: none;
  border: 1px solid black;
  margin: 20px;
  background-color: rgb(177, 124, 88);
  color: white;
}






