*{
    color: darkgreen;
}

.results {
  display: flex;
  align-items: center;
 justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
  width: 70%;
  margin: auto;
}

.allResults {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ace0e0;
  width: 400px;
  text-align: center;
}

.heading{
  text-align: center;
  margin-top: 50px;
}


